/* *{
    border: 2px solid red;
} */
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');

body {
    background: rgb(45, 153, 163);
}

/* TOP BUTTON */
#back_to_top_btn {
    display: none;
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 99;
    border: none;
    background-color: rgba(56, 56, 56, 0.8);
    opacity: 0.7;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 70px;
    width: 70px;
    height: 70px;
    font-size: 100;
}

#back_to_top_btn:hover{
    opacity: 1;
}

/* END OF TOP BUTTON */

.bg_color {
    background: black !important;
    color: rgb(255, 255, 255) !important;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
}

.hoverer a{
    opacity: 0.7;
    font-size: 1.6vh;
}

.hoverer a:hover {
    opacity: 1;
}

#banner {
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(91, 80, 84, .4)), url("./portfolio_images/banner.webp") no-repeat center;
    min-height: 70vh;
    color: white;
    align-items: center;
}

#banner h1 {
    font-size: 7.5vh;
}

#header {
    padding-top: 27.5vh !important;
}

#middle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -1vh;
}

#middle h2 {
    font-size: 3vh;
}

.text_1 {
    animation: text1;
}
  
.text_2 {
    animation: text2;
}
  
.text_1, .text_2 {
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    animation-duration: 8s;
    animation-timing-function: steps(10, end);
    animation-iteration-count: infinite;
}
  
.text_1::after, .text_2::after {
    color: red;
    content: "|";
    position: absolute;
    right: 0;
    animation: caret infinite;
    animation-duration: 1s;
    animation-timing-function: steps(1, end);
}
  
@keyframes text2 {
    0%, 50%, 100% {
      width: 0;
    }
    
    60%, 90% {
      width: 18.5vh;
    }
}
  
@keyframes text1 {
    0%, 50%, 100% {
      width: 0;
    }
    10%, 40% {
      width: 11.25vh;
    }
}
  
@keyframes caret {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
}

#down {
    margin-top: 1vh;
    margin-left: 0.75vh;
}
  